<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Checkout</h1>
</div>

<div class="container">

    <!-- NAV-BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-item nav-link active" th:href="@{/}">Back to homepage</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--CHECKOUT FORM-->

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>