<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
    <script defer src="static/js/chatbox.js"></script>
</head>

<body>

<div class="bg">
    <div class="jumbotron"></div>
</div>

<!-- NAV-BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item moreMarginRight">
                <a class="nav-item nav-link active" id="cart" th:href="@{/shopping-cart}">Shopping cart</a>
            </li>
            <li class="nav-item">
                <div class="dropdown  moreMarginRight">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="filterByCategory"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Filter by Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a
                            class="dropdown-item"
                            th:href="@{/}">All
                        </a>
                        <a class="dropdown-item"
                           th:each="category: ${categories}"
                           th:href="@{/(category_id=${category.getId()})}"
                           th:text="${category.getName()}">Category name
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="filterBySupplier"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Filter by Supplier
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a
                            class="dropdown-item"
                            th:href="@{/}">All
                        </a>
                        <a class="dropdown-item"
                           th:each="supplier: ${suppliers}"
                           th:href="@{/(supplier_id=${supplier.getId()})}"
                           th:text="${supplier.getName()}">Supplier name
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <span class="navbar-text" th:text="'Number of items: ' + ${numOfCartItems}"></span>
    </div>
</nav>

<div class="container">

    <!-- ITEMS -->
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 mb-3" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.png'"
                     alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <form action="/" method="post">
                        <button class="btn btn-success" name="added-item" th:value="${prod.getId()}">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <h2 style="text-align:center">Chat-box Created By <span class="red" style="color:red">M</span>ilind <span class="red" style="color:red">K</span>amthe</h2>
    <p style="text-align:center"></p>
    <hr>
    <div class="row">
        <div class="chatbox chatbox22 chatbox--tray">
            <div class="chatbox__title">
                <h5><strong>Customer Service</strong></h5>
                <button class="chatbox__title__close">
            <span>
                <svg viewBox="0 0 12 12" width="12px" height="12px">
                    <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                    <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                </svg>
            </span>
                </button>
            </div>
            <div class="chatbox__body"></div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm chat_set_height" placeholder="Type your message here..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" contenteditable="true" />

                    <span class="input-group-btn">
                            <button class="btn btn-success" id="send-message" >
                                Send</button>
                        </span>
                </div>
            </div>
            </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>