<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>

<body>

<div class="bg">
    <div class="jumbotron text-center">
    </div>
</div>

<!-- NAV-BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item moreMarginRight">
                <a class="nav-item nav-link active" th:href="@{/shopping-cart}">Shopping cart</a>
            </li>
            <li class="nav-item">
                <div class="dropdown  moreMarginRight">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="filterByCategory"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Filter by Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           th:each="category: ${categories}"
                           th:href="@{/(category_id=${category.getId()})}"
                           th:text="${category.getName()}">Category name
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="filterBySupplier"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Filter by Supplier
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           th:each="supplier: ${suppliers}"
                           th:href="@{/(supplier_id=${supplier.getId()})}"
                           th:text="${supplier.getName()}">Supplier name
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <span class="navbar-text" th:text="'Number of items: ' + ${numOfCartItems}"></span>
    </div>
</nav>

<div class="container">

    <!-- ITEMS -->
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 mb-3" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.png'"
                     alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" th:href="@{/(added-item=${prod.getId()})}">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>