<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Shopping cart items</h1>
</div>

<div class="container">

    <!-- NAV-BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/}">Homepage</a>
            </div>
        </div>
    </nav>


    <!-- ITEMS -->
    <div id="products" class="row">
        <ul>
            <div th:each="item,iterStat : ${items}">
                <li th:text="${item.getProduct().getName()}">Product name: price and currency</li>
            </div>
        </ul>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>