<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>

<body>

<div class="bg">
    <div class="jumbotron text-center">
    </div>
</div>

    <!-- NAV-BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/}">Back to homepage</a>
            </div>
        </div>
    </nav>

<div class="container">

    <!-- ITEMS -->
    <h4>Shopping cart items</h4>

    <div id="products" class="row">
        <table class="table table-bordered">
            <thead>
                <th>Item</th>
                <th>Quantity</th>
                <th>Add / Remove</th>
                <th>Unit price</th>
                <th>Subtotal price</th>
            </thead>
            <tbody>
                <tr th:each="item,iterStat : ${items}">
                    <td th:text="${item.getProduct().getName()}">Product name</td>
                    <td th:text="${item.getQuantity()}">Product quantity</td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/shopping-cart(removed-item=${item.getProduct().getId()})}">-</a>
                        <a class="btn btn-success" th:href="@{/shopping-cart(added-item=${item.getProduct().getId()})}">+</a>
                    </td>
                    <td th:text="${item.getProduct().getPrice()}">Unit price</td>
                    <td th:text="${item.getLinePrice()}">Subtotal price</td>
                </tr>
            </tbody>
        </table>
        <strong><p th:text="'Total price: ' + ${order.getTotalPrice()}">Total price</p></strong>
    </div>
    <div>
        <a class="btn btn-info" th:href="@{/checkout}">Checkout</a>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>