<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>

<body>

<div th:insert="body.html :: copy"></div>


<div class="container">
    <div class="card p-3 bg-light">

    <!-- ITEMS -->
    <div class="card-body">

        <h2 class="card-title text-center">Shopping cart items</h2>

        <div id="products" class="row">
            <table class="table table-bordered table-secondary table-hover">
                <thead class="thead-dark">
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Remove / Add</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Subtotal price</th>
                </thead>
                <tbody>
                    <tr th:each="item,iterStat : ${items}">
                        <td th:text="${item.getProduct().getName()}">Product name</td>
                        <td th:text="${item.getQuantity()}">Product quantity</td>
                        <td>
                            <form action="/shopping-cart" method="post">
                            <button class="btn btn-danger" name="removed-item" th:value="${item.getProduct().getId()}">-</button>
                            <button class="btn btn-success" name="added-item" th:value="${item.getProduct().getId()}">+</button>
                            </form>
                        </td>
                        <td th:text="${item.getProduct().getPrice()}">Unit price</td>
                        <td th:text="${item.getLinePrice()}">Subtotal price</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="float-right">
            <strong><h4 class="card-subtitle pull-right" th:text="'Total price: ' + ${order.getTotalPrice()}">Total price</h4></strong>
        </div>

        <div>
            <a class="submit-button btn btn-info" th:href="@{/checkout}">Checkout</a>
        </div>

    </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>