<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">

    <!--    HEADER PICTURE-->
    <div class="bg">
        <div class="jumbotron"></div>
    </div>


    <!-- NAV-BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item moreMarginRight">
                    <a class="nav-item nav-link active" th:href="@{/shopping-cart}">Shopping cart</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown  moreMarginRight">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="filterByCategory"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">Filter by Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a
                                    class="dropdown-item"
                                    th:href="@{/}">All
                            </a>
                            <a class="dropdown-item"
                               th:each="category: ${categories}"
                               th:href="@{/(category_id=${category.getId()})}"
                               th:text="${category.getName()}">Category name
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="filterBySupplier"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">Filter by Supplier
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a
                                    class="dropdown-item"
                                    th:href="@{/}">All
                            </a>
                            <a class="dropdown-item"
                               th:each="supplier: ${suppliers}"
                               th:href="@{/(supplier_id=${supplier.getId()})}"
                               th:text="${supplier.getName()}">Supplier name
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <span class="navbar-text" th:text="'Number of items: ' + ${numOfCartItems}"></span>
        </div>
    </nav>

</div>

</body>
</html>