.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.bg {
    background: url('/static/img/dark_header_2.png') no-repeat center center;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
}

.container {
    margin-bottom: 50px;
}

body {
    background: url('/static/img/dark_footer_2.png') no-repeat center bottom fixed;
    background-color: black;
    width: 100%;
    cursor: url('/static/img/axe_cursor.png'), pointer;
}

.moreMarginRight {
    margin-right: 25px;
}


.submit-button, .dropdown-button {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}

.submit-button:hover, .dropdown-button:hover{
    color:#fff;
    background-color:#c82333;
    border-color:#bd2130
}

.submit-button.focus,.submit-button:focus{
    box-shadow:0 0 0 .2rem rgba(225,83,97,.5)
}

#index_navbar, #navbar {
    background-color: darkred;
}

.bootstrap-button {
    color:#f8f9fa;border-color:#f8f9fa;
}
.bootstrap-button:hover, .bootstrap-button:active {
    color:#212529;background-color:#f8f9fa;border-color:#f8f9fa
}
.bootstrap-button.focus {
    box-shadow:0 0 0 .2rem rgba(248,249,250,.5)
}

#footer {
    background-color: darkred;
    color: white;
}
/*======================Chat Box Starts=====================================================*/

.chatbox {
    position: fixed;
    bottom: 37px;
    right: 30px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;

    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

.chatbox--tray {
    bottom: -295px;
}

.chatbox--closed {
    bottom: -300px;
}

.chatbox .form-control:focus {
    border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.chatbox__title {
    min-height: 50px;
    padding-right: 10px;
    background-color: #dc3545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

}

.chatbox__title h5 {
    height: 50px;
    margin: 0 0 0 15px;
    line-height: 50px;
    position: relative;
    padding-left: 20px;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__title h5 a {
    color: #fff;
    max-width: 195px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatbox__title h5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #4CAF50;
    border-radius: 6px;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
    opacity: 1;
}

.chatbox__title__tray span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

.chatbox__title__close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color:#DCDCDC;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__credentials {
    display: none;
}

.chatbox__credentials .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chatbox__body {
    overflow-y: auto;
}

.chatbox__body__message {
    position: relative;
}

.chatbox__body__message p {
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fcfcfc;
    position: absolute;
    top: 15px;
}

.chatbox__body__message--Chuck_Norris p {
    background-color: goldenrod;
    margin-left: 15px;
    padding-left: 30px;
    text-align: left;padding-top: 25px;
}

.chatbox__body__message--Chuck_Norris img {
    left: -5px;
}

.chatbox__body__message--client p {
    margin-right: 15px;
    padding-right: 30px;
    text-align: right;
}

.chatbox__body__message--client img {
    right: -5px;
}

.chatbox__message {
    padding: 15px;
    min-height: 50px;
    outline: 0;
    resize: none;
    border: none;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fefefe;
}

.chatbox--empty {
    height: 262px;
}

.chatbox--empty.chatbox--tray {
    bottom: -212px;
}

.chatbox--empty.chatbox--closed {
    bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
    display: none;
}

.chatbox--empty .chatbox__credentials {
    display: block;
}
.chatbox_timing {
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 2px;
}
.chatbox_timing ul{padding:0;margin:0}
.chatbox_timing ul li {
    list-style: none;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
.chatbox_timing ul li a{display:block;color:#747474}
.ul_msg {


    padding: 25px !important;

}
.chatbox__body__message--client .ul_section_full{
    margin-right: 15px;
    padding-right: 30px;
    text-align: right;
    border-radius: 4px;
    font-size: 14px;
    background-color: dodgerblue;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);margin-bottom: 15px;
    padding-bottom: 5px;padding-top:15px;
}
.chatbox__body__message--Chuck_Norris .ul_section_full {

    margin-left: 15px;
    padding-left: 15px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: gold;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);

}
.ul_msg{padding:0;margin:0px}
.ul_msg li{list-style:none;display:block}
.ul_msg2{padding:0;margin:0px;text-align: right;}
.ul_msg2 li{list-style:none;display:inline-block;margin-right: 15px;}

.chatbox__body__message--client .chatbox_timing  {
    position: absolute;
    left: 10px;
    font-size: 12px;
    top: 2px;
}
.chatbox__body__message--client .ul_msg2{text-align:left}
.chatbox__body__message--client .ul_msg2 li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;margin-right:0px
}
.chat_set_height {
    height: 40px;
    margin-top: 1px;
}
.chatbox22 .form-control:focus {
    border-color: #DCDCDC;
}
.width50{width:50%;float:left;background:#ECECEC;}

/*======================Message=====================================================*/
.message_check{padding-top:10px;}
.messsade_date {
    text-align: left;
    padding-top: 9px;
}
.messsade_date a{color:#000;}

.padleftright0{padding-left:0px;padding-right:0px;}

.message_box_area {
    color: #000;
    cursor: pointer;
}
.create_m {
    border: 1px solid #ccc !important;
}
.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;margin-top: 15px;
}
.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.create_m:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}
.col-lg-3.control-label {
    text-align: left;
}

.panel-footer {
    padding: 10px 48px 15px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*======================Chat Box Ends=====================================================*/

.unique_pointer{
    cursor: url('/static/img/axe_cursor.png'), pointer
}